/* General styling */

body {
    font-family: sans-serif;
    background-color: #0000FF; /* Blue color */
}

h1, h2, p {
    margin: 20px 0;
    color: #343a40;
}

p {
    line-height: 1.5;
}

form {
    margin: 0 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #343a40;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Specific styling for the prediction result page */

.prediction-result {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
}

.prediction-result p {
    margin-bottom: 10px;
    color: #343a40;
}

.prediction-result strong {
    color: #e3342f;
}

/* Specific styling for the EDA page */

.eda-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.eda-chart {
    width: 500px;
    margin: 0 20px 20px 0;
}
